# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Next.js build output
.next/
out/
build/
dist/

# Caches
.cache/
.parcel-cache

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.env

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db
